<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Necessary-Liabraries-and-Tools" data-toc-modified-id="Necessary-Liabraries-and-Tools-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Necessary Liabraries and Tools</a></span></li><li><span><a href="#Data-Loader" data-toc-modified-id="Data-Loader-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Loader</a></span></li></ul></div>

# Necessary Liabraries and Tools

In [2]:
from DataLoader import DataLoader

# Data Loader

In [4]:
# read the existing subset of the data
df = DataLoader.read_data('Trips_subset.csv')
df.head()

,Unnamed: 0,tripduration,starttime,stoptime,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,40.767272,-73.993929,505.0,40.749013,-73.988484,31956,Subscriber,1992,1
1,1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,40.767272,-73.993929,3255.0,40.750585,-73.994685,32536,Subscriber,1969,1
2,2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,40.767272,-73.993929,525.0,40.755942,-74.002116,16069,Subscriber,1956,1
3,3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,40.767272,-73.993929,447.0,40.763707,-73.985162,31781,Subscriber,1974,1
4,4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,40.767272,-73.993929,3356.0,40.774667,-73.984706,30319,Subscriber,1992,1